{
  "arrowParens": "always",
  "bracketSpacing": true,
  "importOrder": [
    "^@store",
    "^@controllers",
    "^@api",
    "^@pages",
    "^@components",
    "^@utils",
    "^@constants",
    "^@types",
    "^@cypress",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 130,
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
