.button {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  height: 3.6rem;
  padding: 0 6px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-size: 1.6rem;
}

.button__primary {
  background-color: var(--primary-500);
  color: white;
}

.button__primary:disabled {
  background-color: var(--secondary-400);
  color: var(--secondary-600);
}

.button__primary:not(:disabled):hover {
  background-color: var(--primary-800);
}
