.button {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  height: 3.6rem;
  padding: 0 0.8rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.button_primary {
  background-color: var(--primary-main);
  color: white;
}

.button_primary:hover {
  background-color: var(--primary-dark);
}
