.chats {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 3fr;
  height: 100%;
}

.chats-pane {
  display: grid;
  grid-template-rows: min-content auto;
  row-gap: 16px;
  padding: 8px 8px 0;
  overflow-y: hidden;
  background-color: #fbfbfb;
  border-right: 1px solid #eaeaea;
}

.chats-pane_header {
  display: grid;
}

.chats-pane_header a {
  height: min-content;
  margin: 12px 12px 24px auto;
}

.chats-pane_header input {
  height: 32px;
  background-color: #efefef;
  border: none;
  border-radius: 8px;
}

.chats-pane_header input::placeholder {
  color: #999;
  text-align: center;
}

.chats-pane_chats-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  height: 100%;
  padding-bottom: 8px;
  overflow-y: auto;
}

.chats-pane_chats-list .chats-list-item {
  position: relative;
}

.chats-pane_chats-list .chats-list-item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: -8px;
  height: 1px;
  width: 100%;
  background-color: #eaeaea;
}

.chat {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  overflow-y: hidden;
}

.chat_header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #eaeaea;
}

.currently-open-chat {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 8px;
}

.currently-open-chat_avatar {
  object-fit: cover;
  border-radius: 50%;
}

.chat_messages {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  overflow-y: auto;
}

.chat_form {
  display: grid;
  align-items: end;
  grid-template-columns: min-content 1fr min-content;
  column-gap: 4px;
  padding: 8px;
  border-top: 1px solid #eaeaea;
}

.chat_form textarea {
  height: min-content;
  padding: 11px 16px;
  background-color: #efefef;
  border: none;
  border-radius: 18px;
  resize: none;
}

.chat_form textarea::placeholder {
  background-color: #efefef;
  border: none;
  border-radius: 36px;
}
