:root {
  --primary-200: #e4edfd;
  --primary-500: royalblue;
  --primary-800: #0b35af;
  --secondary-200: #fbfbfb;
  --secondary-300: #efefef;
  --secondary-400: #eaeaea;
  --secondary-600: #999;
  --danger-500: #de0000;
}

html {
  font-size: 10px;
}

html,
body,
button {
  margin: 0;
  font-family: "Sofia Sans", sans-serif;
}

#root,
#page-wrapper {
  height: 100%;
}

body {
  position: absolute;
  height: 100vh;
  font-size: 1.6rem;
  overflow-y: hidden;
}

main {
  height: 100%;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
  line-height: 1;
}

h1,
h2,
h3,
h4,
p,
ol,
ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-500);
  font-size: inherit;
}

a:hover {
  color: var(--primary-800);
}

ul,
ol {
  padding-left: 16px;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 2.1rem;
}

@media (min-width > 1440px) {
  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  h4 {
    font-size: 2rem;
  }
}

@media (min-width > 800px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.3rem;
  }

  h3 {
    font-size: 2.1rem;
  }

  h4 {
    font-size: 1.9rem;
  }
}

@media (min-width > 360px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.8rem;
  }
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

input,
textarea {
  min-width: 200px;
  font-family: "Sofia Sans", sans-serif;
}

input[aria-invalid="true"],
textarea[aria-invalid="true"] {
  border: 1px solid var(--danger-500);
}

input::placeholder,
textarea::placeholder {
  color: var(--secondary-600);
}

input {
  height: 36px;
  padding: 9px 16px;
  background-color: var(--secondary-300);
  border: 1px solid var(--secondary-300);
  border-radius: 18px;
  font-size: 1.6rem;
}
