.message {
  position: relative;
  width: fit-content;
  max-width: 500px;
  padding: 12px 12px 24px;
}

.message__by-authorized-user {
  align-self: flex-end;
  background-color: #e4edfd;
  border-radius: 12px 12px 0;
}

.message__by-another-user {
  background-color: #f8f8f8;
  border-radius: 0 12px 12px;
}

.message_time {
  position: absolute;
  bottom: 8px;
  right: 12px;
  font-size: 1.4rem;
}

.message__by-authorized-user .message_time {
  color: var(--primary-main);
}

.message__by-another-user .message_time {
  color: #999;
}
