.page-header {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 0;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  height: var(--page-header-height);
  width: 100%;
  padding: 8px 16px;
  box-shadow: 0 0 6px rgba(0 0 0 / 16%);
  backdrop-filter: blur(3px);
  transform: translateX(-50%);
}

.page-header__navlinks-list {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  padding-left: 0;
  font-size: 1.8rem;
  list-style: none;
}
