.rows {
  display: grid;
  row-gap: 1.2rem;
  width: 500px;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  grid-template-columns: 2fr 3fr;
  column-gap: 12px;
}

.row-label {
  color: #999;
  line-height: 36px;
}

.row-value {
  line-height: 36px;
}
