.rows {
  display: grid;
  row-gap: 1.2rem;
  width: 100%;
  max-width: 500px;
  min-width: 400px;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.row-label {
  color: #999;
  line-height: 36px;
}

.row-value {
  line-height: 36px;
}
