.navigation {
  opacity: 0.3;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  padding: 8px;
  box-shadow: 0 0 6px rgba(0 0 0 / 16%);
  backdrop-filter: blur(3px);
}

.navigation:hover {
  opacity: unset;
}
