<html lang="ru">
  {{> head pageTitle="Произошла ошибка" }}
  <body>
    {{> header }}
    <main>
      <h1>500</h1>
      <p>Мы уже фиксим</p>
      <a href="/chats">Назад к чатам</a>
    </main>
  </body>
</html>
