<html lang="ru">
  {{> head pageTitle="Изменить пароль" }}
  <body>
    {{> page-header }}
    <main>
      <div class="rows">
        <h1>Изменить пароль</h1>
        <img alt="Ваш аватар" class="avatar" height="160" width="160" src="https://cdn.pixabay.com/photo/2018/08/28/12/41/avatar-3637425_1280.png" />
        <h2>Иван</h2>
        <form class="rows">
          <div class="row">
            <label class="row-label" for="oldPassword">Старый пароль</label>
            <input id="oldPassword" name="oldPassword" type="password" value="old-password" />
          </div>
          <div class="row">
            <label class="row-label" for="newPassword">Новый пароль</label>
            <input id="newPassword" name="newPassword" type="password" value="new-password" />
          </div>
          <div class="row">
            <label class="row-label" for="newPasswordConfirmation">Повторите новый пароль</label>
            <input id="newPasswordConfirmation" name="newPasswordConfirmation" type="password" value="new-password" />
          </div>
          {{> button text="Сохранить" }}
        </form>
      </div>
    </main>
  </body>
</html>
