<html lang="ru">
  {{> head pageTitle="Изменить пароль" }}
  <body>
    <main>
      <a href="/profile">Назад</a>
      <br />
      <img height="160" width="160" src="https://cdn.pixabay.com/photo/2018/08/28/12/41/avatar-3637425_1280.png" />
      <h1>Иван</h1>
      <form>
        <div>
          <label for="oldPassword">Старый пароль</label>
          <input id="oldPassword" name="oldPassword" type="password" value="old-password" />
        </div>
        <div>
          <label for="newPassword">Новый пароль</label>
          <input id="newPassword" name="newPassword" type="password" value="new-password" />
        </div>
        <div>
          <label for="newPasswordConfirmation">Повторите новый пароль</label>
          <input id="newPasswordConfirmation" name="newPasswordConfirmation" type="password" value="new-password" />
        </div>
        {{> button text="Сохранить" }}
      </form>
    </main>
  </body>
</html>