<html lang="ru">
  {{> head pageTitle="Чат" }}
  <body>
    {{> header }}
    <main>
      <div class="chats">
        <div class="chats-pane">
          <div class="chats-pane_header">
            <a href="#">Профиль</a>
            <input name="search" placeholder="Поиск" type="text">
          </div>
          <div class="chats-pane_chats-list">
            {{> chats-list-item name="Андрей"           message="Круто!"                                                                                                    datetime="15:30"       unread-messages-count="4"  }}
            {{> chats-list-item name="Киноклуб"         message="Здравствуй! Я надеюсь, у тебя всё хорошо. Я только что закончил свой экзамен и чувствую себя облегченным." datetime="12:00"       unread-messages-count="0"  }}
            {{> chats-list-item name="Илья"             message="Давно не виделись."                                                                                        datetime="пт"          unread-messages-count="23" }}
            {{> chats-list-item name="Вадим"            message="Привет! Как ты? Как прошло твое выходное? У нас была забавная вечеринка вчера."                            datetime="ср"          unread-messages-count="0"  }}
            {{> chats-list-item name="тет-а-теты"       message="Хей! Давно не общались. Что нового в твоей жизни? У меня на прошлой неделе была интересная поездка."       datetime="вт"          unread-messages-count="2"  }}
            {{> chats-list-item name="1, 2 ,3"          message="Круто!"                                                                                                    datetime="пн"          unread-messages-count="2"  }}
            {{> chats-list-item name="Design destroyer" message="Мда."                                                                                                      datetime="21 фев 2023" unread-messages-count="0"  }}
            {{> chats-list-item name="Day."             message="Привет, как дела на работе? Я слышал, что у вас там были некоторые изменения в компании!"                  datetime="20 янв 2023" unread-messages-count="91" }}
            {{> chats-list-item name="Стас Рогозин"     message="Мда."                                                                                                      datetime="15 мая 2022" unread-messages-count="4"  }}
          </div>
        </div>
        <div class="chat">
          <div class="chat_header">
            <p>Вадим</p>
            <button>Опции</button>
          </div>
          <div class="chat_messages">
            <p>19 июня</p>
            <p>
              Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
              <br>
              Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
            </p>
            <img alt="message-photo" height="250" src="https://images.unsplash.com/photo-1610826340363-4b13a6fb6e01?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2132&q=80" width="400">
            <p>11:56</p>
            <p>
              Круто!
            </p>
            <p>12:00</p>
          </div>
          <div class="chat_form">
            <button>Прикрепить файл</button>
            <textarea name="message" placeholder="Сообщение"></textarea>
            <button>Отправить</button>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="./chats.ts" type="module"></script>
</html>
