<html lang="ru">
  {{> head pageTitle="Чат" }}
  <body>
    {{> header }}
    <main>
      <h1>Ваши чаты будут здесь</h1>
      <div id="chat-body"></div>
      <script src="./chat.ts" type="module"></script>
    </main>
  </body>
</html>