<html lang="ru">
  {{> head pageTitle="Чат" }}
  <body>
    {{> header }}
    <main>
      <div class="chats">
        <div class="chats-pane">
          <div class="chats-pane_header">
            <a href="#">Профиль</a>
            <input name="search" placeholder="Поиск" type="text">
          </div>
          <div class="chats-pane_chats-list">
            {{> chats-list-item name="Андрей"                                        message="Круто!"                                                                                                    datetime="15:30"  unread-messages-count=4  }}
            {{> chats-list-item name="Киноклуб"                                      message="Здравствуй! Я надеюсь, у тебя всё хорошо. Я только что закончил свой экзамен и чувствую себя облегченным." datetime="12:00"  unread-messages-count=0  }}
            {{> chats-list-item name="Константинопольский Константин Константинович" message="Здравствуй! Я надеюсь, у тебя всё хорошо. Я только что закончил свой экзамен и чувствую себя облегченным." datetime="12:00"  unread-messages-count=0  }}
            {{> chats-list-item name="Вадим"                                         message="Привет! Как ты? Как прошло твое выходное? У нас была забавная вечеринка вчера."                            datetime="ср"     unread-messages-count=0  }}
            {{> chats-list-item name="тет-а-теты"                                    message="Хей! Давно не общались. Что нового в твоей жизни? У меня на прошлой неделе была интересная поездка."       datetime="вт"     unread-messages-count=21 }}
            {{> chats-list-item name="Киноклуб"                                      message="Здравствуй! Я надеюсь, у тебя всё хорошо. Я только что закончил свой экзамен и чувствую себя облегченным." datetime="12:00"  unread-messages-count=0  }}
            {{> chats-list-item name="Design destroyer"                              message="Мда."                                                                                                      datetime="21 фев" unread-messages-count=0  }}

            {{> chats-list-item name="Андрей"                                        message="Круто!"                                                                                                    datetime="15:30"  unread-messages-count=4  }}
            {{> chats-list-item name="Киноклуб"                                      message="Здравствуй! Я надеюсь, у тебя всё хорошо. Я только что закончил свой экзамен и чувствую себя облегченным." datetime="12:00"  unread-messages-count=0  }}
            {{> chats-list-item name="Константинопольский Константин Константинович" message="Здравствуй! Я надеюсь, у тебя всё хорошо. Я только что закончил свой экзамен и чувствую себя облегченным." datetime="12:00"  unread-messages-count=0  }}
            {{> chats-list-item name="Вадим"                                         message="Привет! Как ты? Как прошло твое выходное? У нас была забавная вечеринка вчера."                            datetime="ср"     unread-messages-count=0  }}
            {{> chats-list-item name="тет-а-теты"                                    message="Хей! Давно не общались. Что нового в твоей жизни? У меня на прошлой неделе была интересная поездка."       datetime="вт"     unread-messages-count=21 }}
            {{> chats-list-item name="Киноклуб"                                      message="Здравствуй! Я надеюсь, у тебя всё хорошо. Я только что закончил свой экзамен и чувствую себя облегченным." datetime="12:00"  unread-messages-count=0  }}
            {{> chats-list-item name="Design destroyer"                              message="Мда."                                                                                                      datetime="21 фев" unread-messages-count=0  }}
          </div>
        </div>
        <div class="chat">
          <div class="chat_header">
            <div class="currently-open-chat">
              <img
                alt="Chat avatar"
                class="currently-open-chat_avatar"
                height="36"
                src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80"
                width="36"
              />
              <span class="currently-open-chat_name">Вадим</span>
            </div>
            {{> button start-icon-name="more_vert" }}
          </div>
          <div class="chat_messages">
            <div class="messages-date-block">
              <p class="messages-date-block_date">19 июня</p>
              {{> message
                text="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.<br>Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро."
                time="11:56"
              }}
              {{> message
                image-src="https://images.unsplash.com/photo-1610826340363-4b13a6fb6e01?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2132&q=80"
                time="11:56"
                with-image=true
              }}
              {{> message
                by-authorized-user=true
                text="Привет,<br>Я думал о NASA недавно и решил поделиться с тобой своими мыслями. Космические исследования всегда вызывали у меня восторг, и NASA является ярким примером того, что человеческий разум способен на достижения, кажущиеся невозможными.<br>А фотографии космоса и Луны просто ошеломляющие! Они заставляют задуматься о нашем месте во Вселенной и о том, насколько малы мы на фоне ее бесконечности.<br>Для меня NASA является символом науки, исследований и прогресса. Я уверен, что они продолжат работать над технологиями, которые помогут нам лучше понимать нашу Вселенную и наше место в ней.<br>Как тебе такая тема? А как тебе космос и Луна? Расскажи мне о своих мыслях!"
                time="11:59"
              }}
              {{> message by-authorized-user=true text="Круто!" time="12:00" }}
            </div>
            <div class="messages-date-block">
              <p class="messages-date-block_date">Сегодня</p>
              {{> message
                by-authorized-user=true
                text="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.<br>Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро."
                time="08:02"
              }}
              {{> message
                by-authorized-user=true
                image-src="https://images.unsplash.com/photo-1598945768336-8d34de50056e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
                time="08:05"
                with-image=true
              }}
              {{> message text="Круто!" time="08:31" }}
            </div>
          </div>
          <form class="chat_form">
            {{> file-input }}
            <textarea required name="message" oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px'"; placeholder="Сообщение" rows="1"></textarea>
            {{> button start-icon-name="send" type="submit" }}
          </form>
        </div>
      </div>
    </main>
  </body>
  <script src="./chats.ts" type="module"></script>
</html>
