<html lang="ru">
  {{> head pageTitle="Главная" }}
  <body>
    <main>
      <h1>welcome-text</h1>
      <div id="root"></div>
    </main>
    <script src="./index.ts" type="module"></script>
  </body>
</html>