<html lang="ru">
  {{> head pageTitle="Главная" }}
  <body>
    {{> header }}
    <main>
      <a href="/chats">Назад</a>
      <br />
      <img height="160" width="160" src="https://cdn.pixabay.com/photo/2018/08/28/12/41/avatar-3637425_1280.png" />
      <h1>Иван</h1>
      <div>
        <span>Почта</span>
        <span style="color: gray;">pochta@yandex.ru</span>
      </div>
      <div>
        <span>Логин</span>
        <span style="color: gray;">ivanivanov</span>
      </div>
      <div>
        <span>Имя</span>
        <span style="color: gray;">ivan</span>
      </div>
      <div>
        <span>Фамилия</span>
        <span style="color: gray;">ivanov</span>
      </div>
      <div>
        <span>Имя в чате</span>
        <span style="color: gray;">Иван</span>
      </div>
      <div>
        <span>Телефон</span>
        <span style="color: gray;">+7 (909) 967 30 30</span>
      </div>
      <a href="/settings">Изменить данные</a>
      <br />
      <a href="/change-password">Изменить пароль</a>
      <br />
      {{> button text="Выйти" }}
    </main>
  </body>
</html>