<html lang="ru">
  {{> head pageTitle="Вход" }}
  <body>
    {{> navigation }}
    <main>
      <form class="rows">
        <h1>Вход</h1>
        <div class="row">
          <label class="row-label" for="login">Логин</label>
          <input id="login" name="login" type="text" />
        </div>
        <div class="row">
          <label class="row-label" for="password">Пароль</label>
          <input id="password" name="password" type="password" />
        </div>
        {{> button start-icon-name="login" text="Авторизоваться" type="submit" }}
        <a href="/sign-up">Нет аккаунта?</a>
      </form>
    </main>
  </body>
  <script src="./sign-in.ts" type="module"></script>
</html>
