<html lang="ru">
  {{> head pageTitle="Регистрация" }}
  <body>
    {{> navigation }}
    <main>
      <form class="rows">
        <h1>Регистрация</h1>
        <div class="row">
          <label class="row-label" for="email">Почта</label>
          <input id="email" name="email" type="text" />
        </div>
        <div class="row">
          <label class="row-label" for="login">Логин</label>
          <input id="login" name="login" type="text" />
        </div>
        <div class="row">
          <label class="row-label" for="first_name">Имя</label>
          <input id="first_name" name="first_name" type="text" />
        </div>
        <div class="row">
          <label class="row-label" for="second_name">Фамилия</label>
          <input id="second_name" name="second_name" type="text" />
        </div>
        <div class="row">
          <label class="row-label" for="phone">Телефон</label>
          <input id="phone" name="phone" type="text" />
        </div>
        <div class="row">
          <label class="row-label" for="password">Пароль</label>
          <input id="password" name="password" type="password" />
        </div>
        <div class="row">
          <label class="row-label" for="passwordConfirmation">Пароль (ещё раз)</label>
          <input id="passwordConfirmation" name="passwordConfirmation" type="password" />
        </div>
        {{> button text="Зарегистрироваться" type="submit" }}
        <a href="/sign-in">Войти</a>
      </form>
    </main>
  </body>
  <script src="./sign-up.ts" type="module"></script>
</html>
