.chats {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 5fr;
  height: 100%;
}

.chats-pane {
  display: grid;
  grid-template-rows: min-content min-content auto;
  row-gap: 16px;
  padding: 8px 8px 0;
  overflow-y: hidden;
  background-color: var(--secondary-200);
  border-right: 1px solid var(--secondary-400);
}

.chats-pane_header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
}

.chats-pane_chats-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  height: 100%;
  padding-bottom: 8px;
  overflow-y: auto;
}

.chats-pane_chats-list .chats-list-item {
  position: relative;
}

.chats-pane_chats-list .chats-list-item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  bottom: -8px;
  height: 1px;
  width: 100%;
  background-color: var(--secondary-400);
}

.chat {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  overflow-y: hidden;
}

.chat_header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid var(--secondary-400);
}

.currently-open-chat {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 8px;
}

.chat_messages {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 28px;
  overflow-y: auto;
}

.chat_form {
  display: grid;
  align-items: end;
  grid-template-columns: min-content 1fr min-content;
  column-gap: 4px;
  margin-bottom: 0;
  padding: 8px;
  border-top: 1px solid var(--secondary-400);
}

.chat_message-field {
  width: 100%;
  min-height: 36px;
  padding: 9px 16px;
  background-color: var(--secondary-300);
  border: 1px solid var(--secondary-300);
  border-radius: 18px;
  font-size: 1.6rem;
  resize: none;
}

.chat_header-controls {
  display: grid;
  grid-auto-flow: column;
  column-gap: 8px;
}
