<label
  class="button button__primary"
  for="file-upload"
  onkeypress="if (event.key === 'Enter') { event.target.click() }"
  tabindex="0"
>
  <span class="material-icons">attach_file</span>
</label>
<input id="file-upload" type="file" />
