<header class="page-header">
  <nav>
    <ul class="page-header__navlinks-list">
      <li>
        <a href="/chats">Чаты</a>
      </li>
      <li>
        <a href="/profile">Профиль</a>
      </li>
      <li>
        <a href="/sign-in">Войти</a>
      </li>
      <li>
        <a href="/sign-up">Зарегистрироваться</a>
      </li>
    </ul>
  </nav>
</header>