<header class="page-header">
  <nav>
    <a href="/chat">Чаты</a>
    |
    <a href="/profile">Профиль</a>
    |
    <a href="/sign-in">Войти</a>
    |
    <a href="/sign-up">Зарегистрироваться</a>
  </nav>
</header>