<html lang="ru">
  {{> head pageTitle="Страница не найдена" }}
  <body>
    {{> navigation }}
    <main>
      <h1>404</h1>
      <p>Не туда попали</p>
      <a href="/chats">Назад к чатам</a>
    </main>
  </body>
</html>
