---
id: "root"
welcome-text: "Hello, world."
---
<html>
  <head>
    <script src='./index.js' type='module'></script>
  </head>
  <body>
    <h1>{{welcome-text}}</h1>
    <div id='{{id}}'></div>
  </body>
</html>
