<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Регистрация</title>
  </head>
  <body>
    <h1>Регистрация</h1>
    <form>
      <div>
        <label for="email">Email</label>
        <input id="email" name="email" type="text" />
      </div>
      <div>
        <label for="login">Login</label>
        <input id="login" name="login" type="text" />
      </div>
      <div>
        <label for="first_name">First name</label>
        <input id="first_name" name="first_name" type="text" />
      </div>
      <div>
        <label for="second_name">Second name</label>
        <input id="second_name" name="second_name" type="text" />
      </div>
      <div>
        <label for="phone">Phone</label>
        <input id="phone" name="phone" type="text" />
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
      </div>
      <div>
        <label for="password_confirmation">Password confirmation</label>
        <input id="password_confirmation" name="password_confirmation" type="password" />
      </div>
      <button>Зарегистрироваться</button>
    </form>
    <a href="/sign-in">Войти</a>
  </body>
</html>